@model Models.Entities.CartIndexViewModel
@{

    ViewBag.Title = "Sports Store: Your Cart";

}


<h2>Your cart</h2>

<table width="90%" align="center">

    <thead>
        <tr>
            <th align="left">Product</th>

            <th align="center">Quantity</th>     

            <th align="right">Price</th>

            <th align="right">Subtotal</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var line in Model.Cart.Lines)
        {

            <tr>
                <td align="left">@line.Product.name</td>

                <td align="center">

                    <input type='number' size='5' id='numberinput' name='mynumber' value=@line.Quantity />              
                    
                </td>
                                
                <td align="right">@line.Product.priceRetail.ToString("c")</td>

                <td align="right">
                    @((line.Quantity * line.Product.priceRetail).ToString("c"))
                </td>
                
                <td>                 
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {                             
                    @Html.Hidden("ProductId", line.Product.productId)                    
                     @Html.HiddenFor(x => x.ReturnUrl)                     
                    <input class="actionButtons" type="submit" value="Remove" />                 
                }             
                </td>   
            </tr>

        }

    </tbody>

    <tfoot>
        <tr>

            <td colspan="3" align="right">Total:</td>

            <td align="right">

                @Model.Cart.ComputeTotalValue("Retail").ToString("c")

            </td>

        </tr>
    </tfoot>

</table>

<p align="center" class="actionButtons">

    <a href="~/Product/Index">Continue shopping</a>

</p>