@model Models.Entities.CartIndexViewModel
@{

    ViewBag.Title = "Shop : Your Cart";

}


<h2>Your cart</h2> 

<p align="right" class="actionButtons" >

    <a href="~/Checkout/Address">Check out</a>

</p>

<table width="90%" align="center">

    <thead>
        <tr>
            <th align="left">Product</th>

            <th align="center">Quantity</th>

            <th align="right">Price</th>

            <th align="right">Subtotal</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var line in Model.Cart.Lines)
        {

            <tr>
                <td align="left">@line.Product.name</td>

                <td align="left">@line.Quantity</td>

                @if (User.IsInRole("Wholesale"))
                {
                    <td align="right">@line.Product.priceWholesale.ToString("c")</td>
                    <td align="right">@((line.Quantity * line.Product.priceWholesale).ToString("c"))</td>
                }
                else
                {
                    <td align="right">@line.Product.priceRetail.ToString("c")</td>
                    <td align="right"> @((line.Quantity * line.Product.priceRetail).ToString("c"))</td>
                }                
                
                
                
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.productId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="actionButtons" type="submit" value="Remove" />
                    }
                </td>

            </tr>

        }

    </tbody>

    <tfoot>
        <tr>

            <td colspan="3" align="right">Total:</td>

            <td align="right">
                @if (User.IsInRole("Wholesale"))
                {
                @Model.Cart.ComputeTotalValue("Wholesale").ToString("c")
                }
                else
                {
                @Model.Cart.ComputeTotalValue("Retail").ToString("c")
                }

            </td>

        </tr>
    </tfoot>

</table>

<p align="center" class="actionButtons">

    <a href="~/Product/Index">Continue shopping</a>

</p>